<div class="home-callout text-center container-fluid">
  <h1>Movimiento scout</h1>
</div>
<div class="container home-signup-links">
  <div class="row">
    
    
    <% if user_signed_in? %>
      
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center"> Your profile</h2> 
          <!--Si el usuario ha creado un perfil -->
          <% if current_user.profile %> 
            <%= link_to "Edit your profile", edit_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
            <%= link_to "View your profile", user_path(id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
          <% else %>
            <p>Create your profile so that you can share your information with the community. </p>
            <%= link_to "Create your profile!", new_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center"> The Community</h2>
          <p>Visit the community to meet other developers, entrepeneurs and investors!</p>
          <%= link_to "Visit the community", users_path, class: 'btn btn-default btn-lg btn-block' %>
        </div>
      </div>
      
      
    <% else %>
    
    <!--Credenciales para entrar>:
        user: example@hotmail.com
        pass: 123123123
    -->
      <div class="col-md-12">
        <div class="well">
          <h2 class="text-center">Inicia sesión para usar el software</h2>
          <br/>
          <%= link_to "Inicia sesión", new_user_session_path, class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      </div>
    <% end %>
  </div>
                                                                  
  
</div>